.cart-box {
    background-color: #FFF !important;
    top: 0 !important;
    right: 0 !important;
    position: absolute !important;
    z-index: 99 !important;
    width: 375px !important; 
    transition: width 2s ;
    box-shadow: 5px 10px 18px #888888
   
}

.items-container::-webkit-scrollbar {
    width: .25rem;
    height: .125rem;
}

.items-container::-webkit-scrollbar-thumb {
    background: #000;
}

.items-container::-webkit-scrollbar-track {
    background: #f7f7f7;
}

.items{
    background-color: #f7f7f7;
}

@media (max-width: 575.98px) { 
    .cart-box {
        width: 100% !important;  
    }
}