
.form-sing-in{
    border: 1px solid #dee2e6;
}
::placeholder {
    color: #aaa !important;
    font-weight: 500 !important;
}


@media (max-width: 767.98px) { 
    .form-sing-in{
        width: 100% !important;
        border: none !important;
    }
}