$theme-colors: (
        "primary": #29b6f6,
        "secondary": #0064b7,
);

$body-color: #000;

a {
  text-decoration: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* $border-radius:               20px;
$border-radius-lg:            25px;
$border-radius-sm:            15px;

$input-border-radius: none;
$input-border-radius-lg: none;
$input-border-radius-sm: none;
$input-box-shadow: none;
$input-focus-border-color: none;
$input-focus-box-shadow: none;
$input-placeholder-color: #B6E0DB;

$custom-select-border-radius: none;
$custom-select-border-radius-lg: none;
$custom-select-border-radius-sm: none;
$custom-select-box-shadow: none;
$custom-select-focus-border-color: none;
$custom-select-focus-box-shadow: none;


$btn-border-radius: 20px;
$btn-border-radius-lg: 25px;
$btn-border-radius-sm: 15px;

$card-border-radius: 0;
$card-border-color: transparent;

$h1-font-size: 35px;
$headings-line-height: 35px;
//$h2-font-size:                $font-size-base * 2 !default;
//$h3-font-size:                $font-size-base * 1.75 !default;
//$h4-font-size:                $font-size-base * 1.5 !default;
//$h5-font-size:                $font-size-base * 1.25 !default;
//$h6-font-size:                $font-size-base !default;

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("./fonts/AvenirLTStd-Medium.otf");
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("./fonts/AvenirLTStd-Light.otf");
}

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: "AvenirLTStd-Medium", $font-family-sans-serif !default; */


@import "../../node_modules/bootstrap/scss/bootstrap";
